---

ansible_managed_sharp: "
#\n
# Ansible managed file. Edit on host: {{ template_host }}!\n
# File Name: {{ template_fullpath }}\n
# Latest commit: {{ template_fullpath | mythtv.general.git_log_info('full') }}\n
#\n"

# Text for manual action items:
manual_action_text: 'MANUAL ACTION REQUIRED'
instruction_text: 'Please include the following with any issues or questions'

# See mythtv.yml and roles/mythtv/tasks/main.yml for detail (both will go away):
use_old_roles: false
use_old_roles_failure_test: false

# Perl CPANM installation
# added for situations where the package manger does not provide perl modules (e.g. homebrew)
cpanm_active: false

# Python Virtual Environment.
# 2025/03/24, turned this on and ALL actions at github worked.
# Need to verify the path is OK with everyone.
venv_active: false
venv_path: ~/.virtualenvs/mythtv

# From: roles/mythtv-rpm/vars/main.yml and roles/mythtv-dnf/vars/main.yml
# and now used by roles/mythtv/tasks/<distribution>.yml
rpm_url: "https://mirrors.rpmfusion.org"
rpmfusion_rpm: "{{ rpm_url }}/free/fedora/rpmfusion-free-release-{{ ansible_distribution_major_version }}.noarch.rpm"
rpmfusion_rawhide_rpm: "{{ rpm_url }}/free/fedora/rpmfusion-free-release-rawhide.noarch.rpm"
rpmfusion_el_rpm: "{{ rpm_url }}/free/el/rpmfusion-free-release-{{ ansible_distribution_major_version }}.noarch.rpm"

epel_rpm: "https://dl.fedoraproject.org/pub/epel/epel-release-latest-7.noarch.rpm"

lame_src: " http://download1.rpmfusion.org/free/el/updates/6/SRPMS/lame-3.99.5-1.el6.src.rpm"
lame_rpm: "~/rpmbuild/RPMS/{{ ansible_architecture }}/lame-3.99.5-1.el7.centos.{{ ansible_architecture }}.rpm"
lame_rpms_all:
  - "~/rpmbuild/RPMS/{{ ansible_architecture }}/lame-3.99.5-1.el7.centos.{{ ansible_architecture }}.rpm"
  - "~/rpmbuild/RPMS/{{ ansible_architecture }}/lame-libs-3.99.5-1.el7.centos.{{ ansible_architecture }}.rpm"
  - "~/rpmbuild/RPMS/{{ ansible_architecture }}/lame-devel-3.99.5-1.el7.centos.{{ ansible_architecture }}.rpm"

...

# vim: set expandtab tabstop=2 shiftwidth=2 smartindent noautoindent colorcolumn=0:
