# Part 3 of workflows:
.github/workflows/build-mythtv-all.yml
.sh
Dockerfile
Docker
group_vars/user_options.yml
tags
rhosts.yml
*~
*.setup.out
__pycache__
**.sw[nop]
# If retry_files_enabled=False gets changed in ansible.cfg
mythtv.retry
qt5.retry
