---

extends: default

rules:

  comments:
    ignore-shebangs: true
    require-starting-space: true
    # Doesn't work in yamllint 1.26.3, rule added in 1.14.0 (2019-01-14)
    # and both of the above should be the defaults.

  # For braces, colons and commas, allow more spaces for readability
  braces:
    level: warning
    max-spaces-inside: 8
    min-spaces-inside: 1

  colons:
    level: warning
    max-spaces-after: 16
    max-spaces-before: 0

  commas:
    level: warning
    max-spaces-after: 16
    max-spaces-before: 0

  # Just warn for long lines
  line-length:
    level: warning
    max: 200

  # Ansible likes yes/no, so don't whine about them
  truthy:
    allowed-values: ['true', 'false', 'yes', 'no']

# vim: set expandtab tabstop=2 shiftwidth=2 smartindent noautoindent colorcolumn=2:
