# Build buildbot packages on Centos8

- shell:  /bin/rpm -q --quiet buildbot-worker && echo installed || echo missing
  register:         buildbot

- shell:            /bin/test -f {{ bb_rpm_el8 }}  && echo built || echo missing
  register:         build_buildbot

- name: create a list of build requirements
  set_fact:
    dnf_pkg_lst:
      - python3-devel
      - python3-setuptools
      - python3-autobahn
      - python3-boto3
      - python3-dateutil
      - python3-future
      - python3-jinja2
      - python3-jwt
      - python3-lz4
      - python3-migrate
      - python3-mock
      - python3-pyyaml
      - python3-sqlalchemy
      - python3-treq
      - python3-twisted
      - python3-txaio
      - python3-zope-interface
      - cvs
      - git
      - mercurial
      - subversion

- name: final dnf buildbot build depends package list
  debug:
    msg:
      '{{ lookup("flattened", dnf_pkg_lst) }}'

- name: install dnf buildbot build depends packages
  dnf:
    name:
      '{{ lookup("flattened", dnf_pkg_lst ) }}'
    state: present
  when: buildbot.stdout == "missing" and build_buildbot.stdout == "missing"

- name: build buildbot packages
  command: rpmbuild --rebuild {{ bb_src_el8 }}
  when:     buildbot.stdout == "missing" and build_buildbot.stdout == "missing"

- name:     install buildbot after local build
  command:  yum -y localinstall {{ bb_rpm_el8 }}
  when:     buildbot.stdout == "missing"

# vim: set expandtab tabstop=2 shiftwidth=2 smartindent noautoindent colorcolumn=2:
