# roles/buildslave/tasks/buildbot-build.yml

- shell:            /bin/rpm -q --quiet python-twisted-mail && echo installed || echo missing
  register:         twisted_mail

- shell:            /bin/test -f {{ twisted_mail_rpm }}  && echo built || echo missing
  register:         build_twisted_mail

- shell:            /bin/rpm -q --quiet python-twisted-names && echo installed || echo missing
  register:         twisted_names

- shell:            /bin/test -f {{ twisted_names_rpm }}  && echo built || echo missing
  register:         build_twisted_names

- shell:            /bin/rpm -q --quiet buildbot-slave && echo installed || echo missing
  register:         buildbot

- shell:            /bin/test -f {{ bb_rpm }}  && echo built || echo missing
  register:         build_buildbot

- name: install buildbot build requirements
  yum:
    name:
      - python-zope-interface
      - python-twisted-core
      - python-devel
      - python-sphinx
      - python-sqlalchemy
      - python-migrate
      - python-mock
      - python-dateutil
      # python-twisted-mail is not available on centos7
      # - python-twisted-mail
      - bzr
      - cvs
      - mercurial
      - subversion
      # Need rpmbuild to actually build the package
      - rpm-build
    state:
      present
  when: buildbot.stdout == "missing" and build_buildbot.stdout == "missing"

- name:     build python-twisted-mail
  command:  rpmbuild --rebuild {{ twisted_mail_src }}
  when:     twisted_mail.stdout == "missing" and build_twisted_mail.stdout == "missing"

# Required runtime dependency for python-twisted-mail
- name:     build python-twisted-names
  command:  rpmbuild --rebuild {{ twisted_names_src }}
  when:     twisted_names.stdout == "missing" and build_twisted_names.stdout == "missing"

- name:     install extra python-twisted rpms after local build
  command:  yum -y localinstall {{ twisted_mail_rpm }} {{ twisted_names_rpm }}
  when:     twisted_mail.stdout == "missing" or twisted_names.stdout == "missing"

- name:     build buildbot
  command:  rpmbuild --rebuild {{ bb_src }}
  when:     buildbot.stdout == "missing" and build_buildbot.stdout == "missing"

- name:     install buildbot after local build
  command:  yum -y localinstall {{ bb_rpm }}
  when:     buildbot.stdout == "missing"

# vim: set expandtab tabstop=2 shiftwidth=2 smartindent noautoindent colorcolumn=2:
