- name: check if ports bootstrapped
  stat:
    path: /usr/ports
  register: ports_dir

- name: bootstrap ports
  command: /usr/sbin/portsnap extract
  when: not ports_dir.stat.exists

- name: create a list of compilers and build essentials
  set_fact:
    pkgng_pkg_lst:
      - git
      - ccache
      - nasm
      - autoconf
      - automake
      - pkgconf

- name: add essential libraries
  set_fact:
    pkgng_pkg_lst:
      - '{{ pkgng_pkg_lst }}'
      - libxml2
      - taglib
      - exiv2
      - libXinerama
      - libbluray
      - lzo2
      - libhdhomerun
      - libsamplerate
      - libcec
      - libzip
      # for libXNVCtrl
      - nvidia-settings

- name: add optional libraries
  set_fact:
    pkgng_pkg_lst:
      - '{{ pkgng_pkg_lst }}'
      - openssl
      - libvpx
      - x264
      - xvid
      - libvorbis
      - flac
      - faac
      - freetype2
      - libxml2
      - fftw3
      - fftw3-float
      - libass
      - x264
      - x265
      - libvpx
      - pulseaudio
      - minizip

- name: add python essentials (FreeBSD 12 or earlier)
  set_fact:
    pkgng_pkg_lst:
      - '{{ pkgng_pkg_lst }}'
      - python
      - py27-lxml
      - py27-MySQLdb
      - py27-oauth
      - py27-urlgrabber
  when: ansible_distribution_major_version|int <= 12

- name: add python essentials (FreeBSD 13 or later)
  set_fact:
    pkgng_pkg_lst:
      - '{{ pkgng_pkg_lst }}'
      - python
      - py37-lxml
      - py37-pymysql
      - py37-oauth
      - py37-urlgrabber
      - py37-requests
      - py37-simplejson
  when: ansible_distribution_major_version|int >= 13

- name: add perl essentials
  set_fact:
    pkgng_pkg_lst:
      - '{{ pkgng_pkg_lst }}'
      - perl5
      - p5-Date-Manip
      - p5-DateTime-Format-ISO8601
      - p5-DBI
      - p5-DBD-mysql
      - p5-Image-Size
      - p5-IO-Socket-INET6
      - p5-JSON
      - p5-libwww
      - p5-Net-UPnP
      - p5-SOAP-Lite
      - p5-XML-XPath
      - p5-XML-Simple

- name: add packages moved to main repository (freebsd11+)
  set_fact:
    pkgng_pkg_lst:
      - '{{ pkgng_pkg_lst }}'
      - subversion
  when: ansible_distribution_major_version|int >= 11

- name: add packages moved to main repository (freebsd12+)
  set_fact:
    pkgng_pkg_lst:
      - '{{ pkgng_pkg_lst }}'
      - gmake
      - libtool
  when: ansible_distribution_major_version|int >= 12

- name: add packages moved to main repository (freebsd13+)
  set_fact:
    pkgng_pkg_lst:
      - '{{ pkgng_pkg_lst }}'
      - v4l_compat
      - libv4l
      - libva
      - libva-glx
      - libvdpau
      - libdrm
      - gnutls
      - soundtouch
  when: ansible_distribution_major_version|int >= 13

- name: packages from ports
  set_fact:
    ports_pkg_lst:
      - audio/lame

- name: add packages from ports (freebsd 10 and earlier)
  set_fact:
    ports_pkg_lst:
      - '{{ ports_pkg_lst }}'
      - devel/subversion
  when: ansible_distribution_major_version|int <= 10

- name: add packages from ports (freebsd 11 and earlier)
  set_fact:
    ports_pkg_lst:
      - '{{ ports_pkg_lst }}'
      - gmake
      - libtool
  when: ansible_distribution_major_version|int <= 11

- name: add packages from ports (freebsd 12 and earlier)
  set_fact:
    ports_pkg_lst:
      - '{{ ports_pkg_lst }}'
      - multimedia/v4l_compat
      - multimedia/libv4l
      - multimedia/libva
      - multimedia/libvdpau
      - graphics/libdrm
      - security/gnutls
  when: ansible_distribution_major_version|int <= 12

- name: final package list
  debug:
    msg:
      '{{ lookup("flattened", pkgng_pkg_lst) }}'

- name: install packages
  pkgng:
    name:
      '{{ lookup("flattened", pkgng_pkg_lst ) }}'
    state:
      present

- name: final package list (from ports)
  debug:
    msg:
      '{{ lookup("flattened", ports_pkg_lst) }}'

- name: install packages from ports
  portinstall:
    name:
      '{{ lookup("flattened", ports_pkg_lst) }}'
    state:
      present

# vim: set expandtab tabstop=2 shiftwidth=2 smartindent noautoindent colorcolumn=2:
