- include:  qt5-deb.yml
  when:     ansible_pkg_mgr == "apt"

- include:  qt5-rpm.yml
  when:     ansible_pkg_mgr == "yum"

- include:  qt5-dnf.yml
  when:     ansible_pkg_mgr == "dnf"

- include:  qt5-pacman.yml
  when:     ansible_pkg_mgr == "pacman"

- include:  qt5-pkgng.yml
  when:     ansible_pkg_mgr == "pkgng"
