# Install Qt5

- name: install qt5
  apt:  name={{ item }} state=installed
  with_items:
    - libqt5core5a
    - libqt5webkit5-dev
    - libqt5opengl5-dev
    - libqt5script5
    - qtscript5-dev
    - qt5-qmake

- name: install mythtv essential runtime libraries
  apt:  name={{ item }} state=installed
  with_items:
    - libqt5sql5-mysql
