{{ ansible_managed_sharp }}
This is just a sample file used for testing the new method of adding ansible
managed data to a file and a new filter plugin that retrieves git log data.

If you found this in /tmp it can be removed.

For now, don't remove the .j2 version of the file under templates/. Eventually,
it will go away.
