# roles/mythtv-rpm/tasks/setup-epel.yml

- shell:            /bin/rpm -q --quiet epel-release-7 && echo installed || echo missing
  register:         epel

- name: setup EPEL repository
  command: dnf install -y --nogpgcheck {{ epel_rpm }}
  when: epel.stdout == "missing"
